@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400;700&display=swap');
html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	font-size: 62.5%;
	box-sizing: inherit;
}
body {
	font-family: 'Work Sans', sans-serif;
	background-color: $blue;
	color: $white;

	.movingSection {
		min-height: 100vh;
		z-index: 9;
		position: relative;
		overflow: hidden;
	}
}
html {
	scroll-behavior: smooth;
}
a {
	button.btn-primary {
		font-family: 'Work Sans', sans-serif;
		background-color: $blueLight;
		font-size: 2.5rem;
		z-index: 9999;

		color: $white;
		text-decoration: none;

		&:hover {
			background-color: $blueLighten;
			font-weight: bold;
		}
	}
}
a,
p,
span {
	font-family: 'Work Sans', sans-serif;
	font-size: 1.8rem;
}
h1 strong {
	font-size: 5.6rem;
}
h1,
h1 span {
	font-size: 5rem;
}
h2 {
	font-size: 5.6rem;
	font-weight: bold;
	text-align: center;
	color: $white;
	letter-spacing: 4px;
}

.pink {
	color: $pink;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 1100px) {
	.header {
		h1.typing {
			height: 120px;
		}
	}
}
