@import './mixin.scss';
.Info {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	svg.layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.row {
		@include containerLook;
		.col-sm-4 {
			.avatar {
				border-radius: 100px;
				height: 200px;
				overflow: hidden;
				background-color: $blueLighten;
				width: 200px;
				padding-top: 20%;
				margin: 0 auto;
				svg {
					max-height: 400px;
					left: -105px;
					position: relative;
					top: -40px;
				}
			}
		}
		.col-sm-8 {
			position: relative;
			.box {
				background-color: transparent;
				border-radius: 3px;
				color: $white;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 400px;
				height: 300px;
				transform-style: preserve-3d;
				perspective: 2000px;
				transition: 0.4s;
				text-align: center;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: transparent;
					border-top: 20px solid $white;
					border-left: 20px solid $white;
					box-sizing: border-box;
				}
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-bottom: 20px solid $white;
					border-right: 20px solid $white;
					box-sizing: border-box;
				}
				.fas {
					font-size: 25px;
					height: 50px;
					width: 50px;
					line-height: 50px !important;
					background-color: $white;
					color: $blueLighten;
				}
				.fa2 {
					position: absolute;
					bottom: 0;
					right: 0;
					z-index: 1;
				}
				.text {
					position: absolute;
					top: 30px;
					left: -30px;
					width: calc(100% + 60px);
					height: calc(100% - 60px);
					background-color: $blueLighten;
					border-radius: 3px;
					transition: 0.4s;
					.fa1 {
						position: absolute;
						top: 0;
						left: 0;
					}
					div {
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						text-align: center;
						width: 100%;
						padding: 30px 60px;
						line-height: 1.5;
						box-sizing: border-box;
						h3 {
							font-size: 30px;
							margin-bottom: 5px;
						}
						p {
							font-size: 15px;
						}
					}
				}
			}
		}
		&:hover {
			.avatar {
				padding-top: 00%;
				transition: all 0.2s ease-in-out;
			}
			.box {
				.text {
					transform: rotateY(20deg) skewY(-3deg);
				}
				transform: translate(-50%, -50%) rotateY(-20deg) skewY(3deg);
			}
		}
	}
}
